.ui-icon-new-1 {
	background-image: url("1.png");
}

.ui-icon-new-2 {
	background-image: url("2.png");
}

.ui-icon-new-3 {
	background-image: url("3.png");
}

.ui-icon-new-4 {
	background-image: url("4.png");
}

.ui-icon-new-5 {
	background-image: url("5.png");
}

.ui-icon-new-6 {
	background-image: url("6.png");
}

.ui-icon-new-7 {
	background-image: url("7.png");
}

.ui-icon-new-8 {
	background-image: url("8.png");
}

.ui-icon-new-9 {
	background-image: url("9.png");
}

.ui-icon-new-more {
	background-image: url("more.png");
}